@font-face {
    font-family: "DejaVuSerif";
    src: url('/static/fonts/01_bpg_2017_dejavuserif-webfont.woff2') format('woff2'),
         url('/static/fonts/01_bpg_2017_dejavuserif-webfont.woff') format('woff'),
         url('/static/fonts/01 BPG 2017 DejaVu Serif.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DejaVuSans";
    src: url('/static/fonts/01_bpg_2017_dejavu_sans-webfont.woff2') format('woff2'),
         url('/static/fonts/01_bpg_2017_dejavu_sans-webfont.woff') format('woff'),
         url('/static/fonts/01 BPG 2017 DejaVu Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right:7%;  
}

.waves-effect.waves-silver .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(0, 0, 0, 0.1);
}

